body {
    background-color: hsl(289, 4%, 89%);
}

header {
    text-align: center;
    padding: 2rem;
    background-color: hsl(289, 4%, 70%);
}

#mainDivs {
    background-color: hsl(289, 4%, 89%);
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.divMain {
    
    /* text alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* styles */
    background-color: hsl(289, 1%, 78%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5%;
}

.divMain:hover, .divEnding:hover {
    transform: scale(1.1);
}

#ending {
    background-color: hsl(289, 4%, 89%);
    display: flex;
    justify-content: space-evenly;
   
}

.divEnding {
    
    /* text alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* styles */
    background-color: hsl(289, 1%, 78%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5%;
}

#social {
    display: inline;
    text-align: center;
}

div > h2 {
    text-align: center;
}

#contactMeSec {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
}

#email {
    width: 243px;
}

footer {
    margin-top: 4rem;
}

@media screen and (max-width: 1564px) {
    body {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .divMain {
        margin-bottom: 1rem;
    }

    .divEnding {
        margin-bottom: 1rem;
    }

    #contactMeSec {
        display: flex;
        align-items: center;
    }
}